.container {
    background-color: aqua;
    width: 300px;
    height: 200px;
    border-radius: 8px;
}

.input1 {
    background-color:aliceblue ;
    border-radius: 5px;
    padding: 5px; 
    margin: 3px;
}

.input2 {
    background-color:aliceblue ;
    border-radius: 5px;
    padding: 5px; 
    margin: 3px;
}
